*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {} */

a {
  cursor: pointer;
}
a:hover {
  font-weight: bold;
}

/* 
header
*/

header {
  height: 250px;
  background: #42B3DD;
  font-family: 'M PLUS Rounded 1c';
  padding-left: 20%;
  margin: 0 auto;
  display: flex;
}
header > img {
  width: 10%;
}
.header-image {
  padding: 80px 0 0 80px;
}
.header-image h1 {
  color: white;
  text-shadow: 4px 4px 6px #333;
  font-weight: 800;
  
}
.header-image h2 {
  color: rgb(247, 247, 10);
  font-size: 24px;
}


 main {
  font-family:'Zen Kaku Gothic New', sans-serif;
   background: linear-gradient(#42B3DD, #fff, #42B3DD, #fff);
}

/* 
tab
*/
.tab{
  font-family: sans-serif;
  width: 960px;
  margin: 0 auto;
}
.tab-nav{
  display: flex;
}
.tab-nav-item.is-active{
  background: #fff;
  color: black;
  font-weight: bold;
  border: 1px solid #fff;
}
.tab-nav-item{
  background: rgb(224, 245, 252);
  color: #333;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px 5px 0 0;
  margin-right: 2px;
}
.tab-contents{
  border-radius: 0 4px 0 0;
  padding: 20px;
  background-color: #fff;
}
.tab-contents-item > h3 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c';
  color: rgb(2, 163, 56);
  text-shadow: 2px 2px 6px rgb(248, 250, 134);
  text-align: center;
  height: 160px;
  padding-top: 50px;
  background-color:#fff;
  background-image: radial-gradient(#bdebfc 8%, transparent 16%),
  radial-gradient(#fad8ec  8%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.tab-contents-item{
  display: none;
}

/* 
ul
*/
ul {
  
}
ul > li {
  list-style: none;
  border: 2px dashed #42B3DD;
  border-radius: 8px;
  padding:  40px;
  margin: 20px 0;
}
.title{
  font-size: 20px;
  padding-bottom: 20px;
}
.youtube{
  padding-bottom: 20px;
}
/* .youtube > iframe{} */
.shopping {
  font-size: 18px;
  padding-bottom: 20px;
  
}
.shopping > a {
  text-decoration: none;
  color: blue;
}
.shopping > a:hover {
  font-weight: bold;
  font-weight: 800;
}

/* .comment {} */
