*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}
a {
  cursor: pointer;
}
a:hover {
  font-weight: bold;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* 
header
*/
header {
  height: 250px;
  background: #42B3DD;
  font-family: 'M PLUS Rounded 1c';
}
.header-title {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .wrapper > img {
  width: 10%;
  border-radius: 50%;
}
.header-image {
  padding-left: 80px;
}
.header-image h1 {
  color: white;
  text-shadow: 4px 4px 6px #333;
  font-weight: 800;
}
.header-image h2 {
  color: rgb(247, 247, 10);
  font-size: 24px;
}
/*  before clicked */
#navi {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  display: none;
}
.header-navlist {
  padding: 20px;
}
.header-navitem {
  list-style: none;
}
.header-navitem:hover {
  background-color: rgb(247, 247, 10, 0.3);
}
.header-navitem a {
  display: block;
  text-decoration: none;
  color: #42B3DD;
  padding: 1rem;
}

/* 
hamburger
 */
 .hamburger {
  position: absolute;
  top: .75rem;
  right: 1rem;
  width: 40px;
  height: 35px;
  background-color: #42B3DD;
  border: 2px solid #fff;
  display: none;
  cursor: pointer;
 }
 .menu-button {
  width: 100%;
  height: 100%;
  padding: 6px;
  display: block;
  flex-direction: column;
  justify-content: space-between;
 }
 span {
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
 }
 @media screen and (max-width: 840px) {
  #navi {
    display: none;
    transition: 0.5s
  }
  /* after clicked */
  #navi.open {
    display: flex;
  }
  .hamburger,
  .menu-button {
   display: flex;
  }
}
@media screen and (max-width: 1200px) {
header .wrapper > img {
    width: 8%;
  }
  .header-image {
    padding-left: 20px;
  }
  .header-image h1 {
    color: white;
    text-shadow: 4px 4px 6px #333;
    font-weight: 600;
  }
  .header-image h2 {
    color: rgb(247, 247, 10);
    font-size: 20px;
  }
}
@media screen and (max-width: 840px) {
  header {
    height: 250px;
    font-family: 'M PLUS Rounded 1c';
  }
  .header-title {
    padding: 50px ;
    margin: 0;
    display: block;
    align-items: flex-start;
  }
  .header-image {
    padding: 20px 0;
  }
  .header-image h2 {
    padding-top: 20px;
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .header-image h2 {
    padding-top: 20px;
    font-size: 17px;
  }
}

/*
main
*/
main {
  font-family:'Zen Kaku Gothic New', sans-serif;
   background: linear-gradient(#42B3DD, #fff, #42B3DD, #fff);
   padding: 8% 10%;
   display: flex;
   justify-content: center;
}
@media screen and (max-width: 1500px) {
  main {
    padding: 0 2%;
  }
}
@media screen and (max-width: 840px) {
  main {
    padding: 40px 4%;
    display: block;
  }
}

/*
tab 
*/
.tab{
  font-family: sans-serif;
  width: 960px;
  padding-right: 4;
  margin: 0 auto;
}
.tab-nav{
  display: flex;
}
.tab-nav-item.is-active{
  background: #fff;
  color: black;
  font-weight: bold;
  border: 1px solid #fff;
}
.tab-nav-item{
  background: rgb(224, 245, 252);
  color: #333;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px 5px 0 0;
  margin-right: 2px;
}
.tab-contents{
  border-radius: 0 4px 0 0;
  padding: 20px;
  background-color: #fff;
}
.tab-contents-item > h3 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c';
  color: rgb(2, 163, 56);
  text-shadow: 2px 2px 6px rgb(248, 250, 134);
  text-align: center;
  height: 160px;
  padding-top: 50px;
  background-color:#fff;
  background-image: radial-gradient(#bdebfc 8%, transparent 16%),
  radial-gradient(#fad8ec  8%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.tab-contents-item{
  display: none;
}
.book-img {
  width: 400px;
}
.book-img-smart {
  height: 300px;
}
@media screen and (max-width: 1500px) {
  .tab {
    padding-right: 2%;
  }
}
@media screen and (max-width: 1200px) {
  .tab{
    width: 760px;
  }
  .tab-contents{
    padding: 42px;
  }
} 
@media screen and (max-width: 840px) {
.tab{
  width:100%;
}
.tab-contents{
  padding: 42px;
}
} 
@media screen and (max-width: 600px) {
  .tab-contents{
    padding: 14px;
  }
  .tab-contents-item > h3 {
    font-size: 26px;
    height: 80px;
    padding-top: 20px;
  }
} 

/* 
ul
*/
.tab-contents-item {
  padding: 0;
}
.tab-contents-item > li {
  list-style: none;
  border: 2px dashed #42B3DD;
  border-radius: 8px;
  padding:  40px;
  margin: 20px 0;
}

.title{
  font-size: 20px;
  padding-bottom: 20px;
}
.booktitle{
  font-size: 20px;
  font-weight: 800;
}
.bookauthor{
  font-size: 16px;
  padding: 6px 10px;
}
.comment {
  padding-bottom: 16px;
  color: rgb(2, 163, 56);
}
.reference {
  display: flex;
}
.shopping {
  display: flex;
}
.shopping button{
  margin-top: 20px;
  margin-right: 20px;
  width: 130px;
  height: 50px;
}

.shopping button p {
  padding: 15px 10px;
}
.shopping a {
  text-decoration: none;
}
.shopping .amazon {
  background-color: #FF9900;
  border: 1px solid black;
}
.shopping .amazon:hover {
  background-color: #fff;
  border: 1px solid black;
}
.shopping .amazon p {
  color: #fff;
}
.shopping .amazon p:hover {
  color: #FF9900;
}
.shopping .kindle {
  background-color: #2C6A99;
  border: 1px solid black;
}
.shopping .kindle:hover {
  background-color: #fff;
}
.shopping .kindle p {
  color: #fff;
}
.shopping .kindle p:hover {
  color: #2C6A99;
}
.shopping .rakuten {
  background-color: #fff;
  border: 1px solid black;
}
.shopping .rakuten:hover {
  background-color: red;
}
.shopping .rakuten p {
  color: red;
}
.shopping .rakuten p:hover {
  color: #fff;
}
.shopping p {
  font-weight: 600;
}
.youtube {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.youtube:hover {
  background-color: #ccc;
}
.youtube a svg {
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  width: 40px;
}
@media screen and (max-width: 1200px) {
  .tab-contents-item > li {
    padding:  20px;
    margin: 10px 0;
  }
  .youtube > iframe{
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 840px) {
  .youtube > iframe{
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .title{
    font-size: 16px;
  }
  .youtube > iframe{
    width: 260px;
  }
}

/* 
sidebar
*/
.sidebar {
  width: 400px;
  margin: 70px auto;
}
.about,
.shopping {
  position: relative;
}
.sidebar-title{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(30, 156, 36, 0.7);
  border-radius: 5px;
  color: #fff;
  display: inline;
  padding: 5px 10px;
  position: absolute;
  top: -26px;
}
.sidebar-content {
  border: 2px dotted rgb(247, 247, 10);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 60px;
}
/* .sidebar-content > iframe {} */
dl {
  display: flex;
  justify-content: space-between;
}
dt {
  padding-right: 20px;
}
dd{
  font-size: 14px;
}
/* .ad-list{} */
.ad-list >li {
  list-style: none;
  padding: 5px 0;
}
@media screen and (max-width: 1200px) {
  .sidebar-title{
    font-size: 16px;
  }
  .sidebar-content > iframe {
    padding-right: 10px;
  }
  dl {
    display: block;
    padding-bottom: 10px;
  }
  .ad-list{ 
    padding: 0;
  }
  .ad-list >li {
    list-style: none;
    padding: 5px 0;
  }
  .ad-list >li a img{
    width: 250px;
  }
}
@media screen and (max-width: 834px) {
  .sidebar {
    width: 80%;
    margin: 40px auto;
  }
  dl {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .ad-list >li a img{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 360px;
    margin: 60px auto;
  }
  .sidebar-content {
    border: 2px dotted rgb(247, 247, 10);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 60px;
  }
  /* .sidebar-content > iframe {} */
  dl {
    display:block;
  }
  dt {
    padding-bottom: 10px;
  }
}

/* 
shopping
*/
.shopping-list li img {
  width: 200px;
}
.shopping-list li {
  list-style: none;
  margin-bottom: 30px;
}
.shopping-list h4 {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}
.shopping-list p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* 
footer
*/
footer {
    height: 80px;
    background: #42B3DD;
   font-size: 12px;
   text-align: center;
   padding-top: 30px;
}
